body {
  margin: 0;
}

/****************   Nav Section **********************/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
	background-color: #222222;
  padding: 10px 10px 15px 10px;
  font-family:'Crimson Text', sans-serif;
  color: #FAFAFA;
  height: 30px;
}

nav a {
  color: #FAFAFA;
  text-decoration: none;
}

nav a:hover {
  color: #728da1;
  text-decoration: underline;
}

/***********************  Footer Section   **************************/
footer {
	display: flex;
  background-color: rgb(179, 179, 179);
  justify-content: center;
  padding: 5px 7px 5px 7px;
}

footer a {
  color: black;
  text-decoration: none;
}

footer a:hover {
  color: #297cbc;
  text-decoration: underline;
}

/*********** Splash Page ************************/
header {
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  font-family:'Crimson Text', sans-serif;
  align-items: center;
}

header h1 {
  font-family:'Crimson Text', sans-serif;
  font-size: 40px;
  /* color: #000080;*/
  color: #333333;
}

header img {
  border: 5px solid;
  border-radius: 50%;
  border-color: #333333;
  margin: 0px 0px 5px 0px;
}

.address {
 background-color: #FAFAFA;
 display: flex;
 justify-content: center;
 align-items: center;
 font-family:'Crimson Text', sans-serif;
 padding: 10px 0px 5px 0px;
 margin: 0px 5px;
}

.tagline {
  display: flex;
  justify-content: center;
  background-color: #FAFAFA;
  font-family:'Crimson Text', sans-serif;
  padding: 5px 0px 10px 0px;
  margin: 0px 5px;
}

/************* Sections ********************/
hr {
  margin: 0px;
  border: #222222 solid;
}

h2 {
  margin: 10px 10px;
}

section h3 {
  font-family:'Crimson Text', sans-serif;
  color: #000080;
  margin: 3px 5px;
}

section dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px 0px 0px 10px;
}

section ul {  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section a {
  color: black;
  text-decoration: none;
}

section a:hover {
  color: blue;
  text-decoration: underline;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.card img {
  display: flex;
  align-items: center;
  border-bottom: black solid;
}

.card {
  border: solid 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  margin: 5px;
  background-color: #FAFAFA;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px 0px 0px;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
    }

    .three-col {
      grid-template-columns: 1fr;
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 10px;
}

input {
  margin: 5px 0px;
  width: 25%;
}

textarea {
   margin: 5px 0px;
   width: 50%;
}

button {
  margin: 15px 0px;
  background-color: lightblue;
  width: 10%
}

button:hover {
  background-color: rgb(131, 207, 232);
}